/* ========================================= */
body {
	font-family: Lato;
	line-height: 160%;
	color: #424551;
}

.wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

/* ========================================= */

[class*="__container"] {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1260px;
}

/* ===================BUTTON==================== */

.button {
	color: #FFFFFF;
	font-weight: 700;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	display: inline-block;
	padding: 16px 117px;
	line-height: 1.25;
	position: relative;
	letter-spacing: 0.5px;
}

.button::before {
	content: "";
	position: absolute;
	background: linear-gradient(55.95deg, #c64743 0%, #c1581b 100%);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 4px;
	opacity: 0;
	transition: all 1s ease 0s;
}

.button:hover::before {
	opacity: 1;
}

.button span {
	position: relative;
	z-index: 3;
}

/* =================================== */

.page {}

.page__section {
	display: flex;
	gap: 90px;
}

.page__section:nth-child(2) {}

.page__column--1 {}

.page__column {}


.page__image {
	margin-top: 43px;
}

.content {
	flex-grow: 1;
}

.content__subtitle {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #1E212C;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.content__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 40px;
}

.content__form {}

.form {}

.form__main {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 50%;
	gap: 25px;
	margin-bottom: 50px;
}

.form__line {}

.form__label {
	color: #424551;
	line-height: 160%;
	margin-bottom: 8px;
	display: inline-block;
}

.form__input {
	border: 1px solid #D7DADD;
	border-radius: 4px;
	width: 340px;
	height: 52px;
	padding-left: 13px;
}

.form__input::placeholder {}

.form__textarea {
	width: 705px;
	height: 128px;
	border: 1px solid #D7DADD;
	border-radius: 4px;
	padding-top: 13px;
	padding-left: 16px;
}


.form__action {
	display: flex;
	gap: 25px;
}

.action__line {
	flex: 0 1 50%;

}

.radio {
	position: relative;
}

.radio__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.radio__label {
	cursor: pointer;
	display: inline-flex;
	gap: 10px;
}

.radio__text {
	line-height: 160%;
	color: #424551;
	align-self: center;
}

.radio__label::before {
	content: "";
	border: 1px solid #FF3F3A;
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	position: relative;
	top: 6px;
	border-radius: 3px;
}

.radio__input:checked+.radio__label::before {
	background: #FF3F3A url("../img/icons/check.svg") center no-repeat;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	transition: all 0.3s ease 0s;
}











/* 
.radio {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: relative;
}
.radio__text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 10px;
} */



/* .radio__line {

}

.radio__line:not(:last-child){
	margin-bottom: 10px;
}
.radio__input {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;

}

.radio__input:checked + .radio__label::before{
	background:#FF3F3A url("../img/icons/check.svg") center no-repeat;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	transition: all 0.3s ease 0s;
}

.radio__label::before{
	content: "";
	border: 1px solid #FF3F3A;
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	position: relative;
	top: 6px;
	border-radius: 3px;
}

.radio__label {
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
	display: inline-flex;
	gap: 10px;
} */